<div class="row" style="text-align: left; margin-top: 2vw;">
  <label for="exampleFormControlInput1" class="form-label">I want to swap</label>
</div>
<div class="row">
  <div class="col-8" style="text-align: left; line-height: 12px;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="152.35">
  </div>
  <div class="col-4">
    <div class="dropdown">
      <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        KOKI
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item disabled" >coming soon</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9" style="text-align: left;">
    <small>
      available balance
    </small>
  </div>
  <div class="col-3" style="text-align: right;">
    <small>
      152.35 KOKI
    </small>
  </div>
</div>

<div class="row" style="margin: 3rem;">
  swap icon
</div>

<div class="row" style="text-align: left; margin-top: 2vw;">
  <label for="exampleFormControlInput1" class="form-label">for</label>
</div>
<div class="row">
  <div class="col-8" style="text-align: left; line-height: 12px;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="28.571428571">
  </div>
  <div class="col-4">
    <div class="dropdown">
      <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        ETH
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item disabled" >coming soon</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9" style="text-align: left;">
    <small>
      swap fee
    </small>
    <br>
    <small>
      0.936 ETH
    </small>
  </div>
  <div class="col-3" style="text-align: right;">
    <small>
      total received
    </small>
    <br>
    <small>
      28.20 ETH
    </small>
  </div>
</div>
