<div class="row" style="text-align: left; margin-top: 2vw;">
  <label for="exampleFormControlInput1" class="form-label">I want to swap</label>
</div>
<div class="row">
  <div class="col-8" style="text-align: left; line-height: 12px;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" [placeholder]="availableValue()">
  </div>
  <div class="col-4">
    <div class="dropdown">
      <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{selectedCoin()}}
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let coin of balance()" ><a class="dropdown-item" (click)="selectedCoin.set(coin.symbol)" >{{coin.symbol}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9" style="text-align: left;">
    <small>
      available balance
    </small>
  </div>
  <div class="col-3" style="text-align: right;">
    <small>
      {{availableValue()}} {{selectedCoin()}}
    </small>
  </div>
</div>

<div class="row" style="margin: 3rem; font-size: 64px;">
  <div class="col d-flex justify-content-center">
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_41_19)">
      <path d="M1.4165 10.125L7.08317 4.625L12.7498 10.125" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M15.5835 29.375L12.7502 29.375C11.2473 29.375 9.80593 28.7955 8.74322 27.7641C7.68052 26.7326 7.0835 25.3337 7.0835 23.875L7.08349 4.625" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M32.5833 23.875L26.9167 29.375L21.25 23.875" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M18.4165 4.625L21.2498 4.625C22.7527 4.625 24.1941 5.20446 25.2568 6.23591C26.3195 7.26736 26.9165 8.66631 26.9165 10.125L26.9165 29.375" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_41_19">
      <rect width="33" height="34" fill="white" transform="translate(0 33.5) rotate(-90)"/>
      </clipPath>
      </defs>
    </svg>
  </div>
</div>

<div class="row" style="text-align: left; margin-top: 2vw;">
  <label for="exampleFormControlInput1" class="form-label">for</label>
</div>
<div class="row">
  <div class="col-8" style="text-align: left; line-height: 12px;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="28.571428571">
  </div>
  <div class="col-4">
    <div class="dropdown">
      <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        USDT
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item disabled" >coming soon</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="margin-top: calc(40px + 2vw);">
  <div class="col-8" style="text-align: left;">
    <small>
      swap fee
    </small>
    <br>
    <small>
      0.936 USDT
    </small>
  </div>
  <div class="col-4" style="text-align: right;">
    <small>
      total received
    </small>
    <br>
    <small>
      28.20 USDT
    </small>
  </div>
</div>
<div class="row" style="margin-top: calc(40px + 2vw);">
  <div class="col d-flex justify-content-center">
    <button class="btn primary" >

      <svg style="margin-right: 4px;" width="calc(1.5vw + 12px)" height="calc(1.5vw + 12px)" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23 4.5V10.5H17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1 20.5V14.5H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3.51 9.50008C4.01717 8.06686 4.87913 6.78548 6.01547 5.77549C7.1518 4.76551 8.52547 4.05984 10.0083 3.72433C11.4911 3.38883 13.0348 3.43442 14.4952 3.85685C15.9556 4.27928 17.2853 5.06479 18.36 6.14008L23 10.5001M1 14.5001L5.64 18.8601C6.71475 19.9354 8.04437 20.7209 9.50481 21.1433C10.9652 21.5657 12.5089 21.6113 13.9917 21.2758C15.4745 20.9403 16.8482 20.2346 17.9845 19.2247C19.1209 18.2147 19.9828 16.9333 20.49 15.5001" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
        SWAP
      </button>
  </div>
</div>
