<div class="col" style="text-align: center;">
  <div class="row d-flex justify-content-center">
    <div class="col pfp" style="position: relative;">
        <p class="edit" style="position: absolute; bottom: -4px; right: 0;">edit</p>
    </div>
  </div>
  <div class="row" style="text-align: left;">
    <label for="exampleFormControlInput1" class="form-label">username</label>
  </div>
  <div class="row">
    <div class="col-8" style="text-align: left; line-height: 12px;">
      <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="@chatuba92">
    </div>
    <div class="col-4">
      <div class="dropdown">
        <button style="width: 100%; border: 1px solid black;" class="btn " type="button"  aria-expanded="false">
          Change
        </button>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 5vw;  margin-bottom: 5rem;">
    <div class="col" style="line-height: 17.35px;">
      this page will also display your overall rank and many more stats please stay tuned!
    </div>
  </div>
</div>
