.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: orange;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}
