<div class="col body-col">

  <div class="row" style="text-align: right;">
    <p routerLink="../">arrow-back-icon</p>
  </div>

  <div class="row" style="margin-bottom: 5vw;">
    <div class="col-2">
      ! icon
    </div>
    <div class="col-10" style="line-height: 17.35px;">
      <b>We encourage users to withdraw their funds frequently</b> to further mitigate any unpredictable security breaches of our system. Keep your funds safe!
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="row" style="text-align: left;">
        <label for="exampleFormControlInput1" class="form-label">i want to withdraw</label>
      </div>
      <div class="row">
        <div class="col-8" style="text-align: left; line-height: 12px;">
          <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="152.35">
        </div>
        <div class="col-4">
          <div class="dropdown">
            <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              KOKI
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" >coming soon</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9" style="text-align: left;">
          <small>
            available balance
          </small>
        </div>
        <div class="col-3" style="text-align: right;">
          <small>
            152.35 KOKI
          </small>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 5vw;">
    <div class="col" style="line-height: 32px; text-align: left;">
      <small>withdrawal fee</small>
      <h5>0.00002 ETH</h5>
    </div>
    <div class="col">
      <button class="btn secondary" style="width: 100%;" routerLink="withdraw">WITHDRAW</button>
    </div>
  </div>
</div>
