<div class="col body-col">

  <div routerLink="../" class="row" style="text-align: right; margin-bottom: 3vw">
    <div class="col">
      <svg style="" width="calc(1.5vw + 26px)" height="calc(1.5vw + 26px)" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 14L4 9L9 4" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20 20V13C20 11.9391 19.5786 10.9217 18.8284 10.1716C18.0783 9.42143 17.0609 9 16 9H4" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
  </div>

  <div class="row" style="margin-bottom: 5vw;">
    <div class="col-2" style="padding: 2px;">
      <svg style="margin-right: 4px;" width="calc(1.5vw + 26px)" height="calc(1.5vw + 26px)" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_50_710)">
        <path d="M10.2898 2.85996L1.81978 17C1.64514 17.3024 1.55274 17.6453 1.55177 17.9945C1.55079 18.3437 1.64127 18.6871 1.8142 18.9905C1.98714 19.2939 2.2365 19.5467 2.53748 19.7238C2.83847 19.9009 3.18058 19.9961 3.52978 20H20.4698C20.819 19.9961 21.1611 19.9009 21.4621 19.7238C21.7631 19.5467 22.0124 19.2939 22.1854 18.9905C22.3583 18.6871 22.4488 18.3437 22.4478 17.9945C22.4468 17.6453 22.3544 17.3024 22.1798 17L13.7098 2.85996C13.5315 2.56607 13.2805 2.32308 12.981 2.15444C12.6814 1.98581 12.3435 1.89722 11.9998 1.89722C11.656 1.89722 11.3181 1.98581 11.0186 2.15444C10.7191 2.32308 10.468 2.56607 10.2898 2.85996Z" stroke="#FF7649" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 8V12" stroke="#FF7649" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 16H12.01" stroke="#FF7649" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_50_710">
        <rect width="24" height="21" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
    <div class="col-10" style="line-height: 17.35px; padding: 12px;">
      <b>We encourage users to withdraw their funds frequently</b> to further mitigate any unpredictable security breaches of our system. Keep your funds safe!
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="row" style="text-align: left;">
        <label for="exampleFormControlInput1" class="form-label">i want to withdraw</label>
      </div>
      <div class="row">
        <div class="col-8" style="text-align: left; line-height: 12px;">
          <input type="text" class="form-control btn-input" id="exampleFormControlInput1" [placeholder]="availableValue()">
        </div>
        <div class="col-4">
          <div class="dropdown">
            <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{selectedCoin()}}
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let coin of balance()"  ><a class="dropdown-item" (click)="selectedCoin.set(coin.symbol)" >{{coin.symbol}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9" style="text-align: left;">
          <small>
            available balance
          </small>
        </div>
        <div class="col-3" style="text-align: right;">
          <small>
            {{availableValue()}} {{selectedCoin()}}
          </small>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 5vw;">
    <div class="col" style="line-height: 32px; text-align: left;">
      <small>withdrawal fee</small>
      <h5>0.00002 ETH</h5>
    </div>
    <div class="col">
      <button class="btn secondary" style="width: 100%;" routerLink="withdraw">WITHDRAW</button>
    </div>
  </div>
</div>
