@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/Rajdhani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/Rajdhani-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-select:focus,
.uneditable-input:focus {
  border-color: black;
  box-shadow: none;
  outline: 0 none;
}




.max-width-600 {
    max-width: 700px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.btn {
  border-radius: 40px;
  padding: calc(10px + 0.2vw) calc(16px + 2vw);
  font-size: calc(8px + 0.9vw);
  font-weight: 600;
}

.primary {
  color: #fff;
  background-color: #000;
}

.secondary {
  color: #fff;
  background-color: #FF7649;
}


.primary:hover {
  color: #fff;
  background-color: #000;
}

.secondary:hover {
  color: #fff;
  background-color: #FF7649;
}


.btn-input {
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 40px;
  padding: 12px 18px;
  border: none;
}

.dropdown-toggle::after {
 margin-right: -1px;
 margin-left: none;
 position: absolute;
 right: 22px;
 top: 18px;
}

.color-primary {
  color: #FF7649 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.form-select {
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
}

.form-select:focus {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}

svg {
  cursor: pointer;
}

.btn {
  font-size: calc(16px + 0.2vw);
}
.dropdown-toggle {
  border-radius: 40px;
  font-weight: 600;
  text-align: left;
  padding: 8px 18px;
}
