$icomoon-font-family: "ico" !default;
$icomoon-font-path: "fonts" !default;

$icocopy: "\e900";
$icocorner-up-left: "\e901";
$icodepoist: "\e902";
$icoedit: "\e903";
$icogamepad: "\e904";
$icolock: "\e905";
$icorefresh-cw: "\e906";
$icorepeat: "\e907";
$icoshopping-cart: "\e908";
$icowithdraw: "\e909";
$icozap: "\e90a";

