<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Arkeyd-logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0"><!--please dont tell anyone--></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [class.active]="router.url.includes('wallet')">
          <a class="nav-link"  [class.disabled]="metamask.wallet() == ''" routerLink="wallet" aria-current="page" >wallet</a>
        </li>
        <li class="nav-item" [class.active]="router.url.includes('exchange')">
          <a class="nav-link" [class.disabled]="metamask.wallet() == ''" routerLink="exchange">exchange</a>
        </li>
        <li class="nav-item" [class.active]="router.url.includes('staking')">
          <a class="nav-link" [class.disabled]="metamask.wallet() == ''" routerLink="staking" aria-current="page" >staking</a>
        </li>
        <li class="nav-item" [class.active]="router.url.includes('launchpad')">
          <a class="nav-link disabled" [class.disabled]="metamask.wallet() == ''" routerLink="launchpad">launchpad</a>
        </li>

      </ul>
      <form class="d-flex me-2" role="search">
        <i class="icobell1" style="margin: 1.1rem;"></i>
        <div class="dropdown" style="margin: 1rem;">
            <a (click)="connect()" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{metamask.wallet() != '' ? reduceWallet(metamask.wallet()) : 'connect wallet'}}</a>
            <ul class="dropdown-menu" [class.d-none]="metamask.wallet() == ''" >
                <li><a class="dropdown-item " routerLink="user/security">security</a></li>
                <li><a class="dropdown-item " routerLink="user/profile">profile</a></li>
                <li><a class="dropdown-item disabled" >logout</a></li>
              </ul>
        </div>
      </form>
    </div>
  </div>
</nav>

