<div class="video-container">
  <video #myVideo autoplay muted playsinline loop>
    <source src="../../assets/home_video.webm" type="video/webm" />
      <source src="../../assets/loop-bgvideo.mp4" type="video/mp4" />
  </video>
  <div class="caption">


    <div class="row">
      <div class="col" style="margin-top: calc(50px + 5vw);">
        <button class="btn primary" routerLink="deposit">
          click</button>
          <p class="whitelist-text">join our <a href="">whitelist</a> and read our <a href="https://arkeyd.gitbook.io/arkeyd-docs/" target="_blank">docs</a></p >

      </div>
    </div>




  </div>
</div>

<div *ngIf="gambiarra" (click)="playVideo()" class="video-gambiarra">

</div>
