<div class="col" style="text-align: center;">

  <div class="row" style="text-align: right; margin-bottom: 5vw;">
    <p routerLink="../">arrow-back-icon</p>
  </div>

  <div class="row">

    <div class="col" style="line-height: 17.35px;">
      <p>Our platform only accepts ETH and our native ERC20 tokens</p>
    </div>
  </div>


  <div class="row d-flex justify-content-center">
    <div class="col deposit-qr-code">

    </div>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="col">
      0xD1c4FB1C2F0A53A8410b35b03DF4e0613Ef91563
    </div>
  </div>

  <div class="row" style="margin-top: 5vw;  margin-bottom: 5rem;">
    <div class="col-2">
      ! icon
    </div>
    <div class="col-10" style="line-height: 17.35px;">
      <b>Please do not deposit other tokens</b>, as they will be immediately returned to the sender address, discounting the gas fee from your ETH balance as soon as it is available.
    </div>
  </div>
</div>
