.deposit-qr-code {
  background-image: url('../../../assets/qr_code.webp');
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  position: relative;
}

.edit {
  position: absolute;
  right: 0;
  bottom: 0;
}
