<div class="row" style="margin: 4vw; font-size: calc(12px + 0.9vw);">
  <div class="col text-align-right">I want to</div>
  <div class="col text-align-left">
    <div class="dropdown">
    <p  class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{buySell()}}
    </p>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="buySell.set('sell')">sell</a></li>
        <li><a class="dropdown-item" (click)="buySell.set('buy')">buy</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8" style="text-align: left; line-height: 12px;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" [placeholder]="availableValue()">
  </div>
  <div class="col-4">
    <!--div class="dropdown">
      <button style="width: 100%; border: 1px solid black;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{selectedCoin()}}
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let coin of balance()" ><a class="dropdown-item" (click)="selectedCoin.set(coin.symbol)" >{{coin.symbol}}</a></li>
      </ul>
    </div-->

    <div class="form-floating bs-light bs-light-rgb">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option value="1">Koki</option>
        <option value="1">ARKD</option>
        <option value="2">RKT</option>
        <option value="3">USDT</option>
      </select>
      <label for="floatingSelect">Coin</label>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-8" style="text-align: left;">
    <small>
      Available Balance
    </small>
  </div>
  <div class="col-3" style="text-align: right;">
    <small>
      {{availableValue()}}
    </small>
  </div>
</div>
<div class="row" style="margin-top: 1vw; text-align: left; font-size: 18px; font-weight: 400;">
<div class="col-6">for total</div>
<div class="col-6">@ price</div>
</div>
<div class="row">
  <div class="col-6" style="text-align: left; line-height: 12px; position: relative;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="0.025" >
    <small class="input-left">
      USDT
    </small>
  </div>
  <div class="col-6" style="text-align: left; line-height: 12px; position: relative;">
    <input type="text" class="form-control btn-input" id="exampleFormControlInput1" placeholder="0.00014">
    <small class="input-left">
      KOKI/USDT
    </small>
  </div>
</div>
